{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h3>ایمیل بازیابی ارسال شد</h3>
                </div>
                <div class="card-body">
                    <p>لینک بازیابی رمز عبور به ایمیل شما ارسال شد. لطفاً ایمیل خود را بررسی کنید.</p>
                    <p>اگر ایمیلی دریافت نکردید، لطفاً پوشه اسپم خود را نیز چک کنید.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 