<nav class='z-50'>
    <div class="hidden md:flex items-center space-x-8 space-x-reverse relative">
        <div class="relative group">
            <a
                href="/categories"
                class="text-gray-700 hover:text-blue-600 px-3 py-2 rounded-md text-sm font-medium"
            >
                دسته‌بندی‌ها
            </a>
            <div class="absolute hidden group-hover:block bg-white shadow-lg rounded-md mt-2 p-4 z-10 min-w-[200px]">
                {% for category in categories %}
                    <a href="/categories/category/{{ category.slug }}" class="block py-2 hover:bg-gray-100">
                        {{ category.name }}
                    </a>
                {% endfor %}
            </div>
        </div>
        <a
            href="/about-us"
            class="text-gray-700 hover:text-blue-600 px-3 py-2 rounded-md text-sm font-medium"
        >
            درباره ما
        </a>
    </div>
</nav>