<div class="w-full max-w-md mx-auto">
    <form action="{% url 'product:search_results' %}" method="GET" class="flex shadow-sm">
        <input type="text" name="q" placeholder="جستجو..." 
               class="flex-grow px-3 py-1.5 text-sm text-gray-600 bg-gray-50 rounded-r-md focus:outline-none focus:ring-1 focus:ring-blue-300">
        <button type="submit" 
                class="px-3 py-1.5 text-sm bg-blue-400 text-white rounded-l-md hover:bg-blue-500 transition-colors">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
            </svg>
        </button>
    </form>
</div>